- flash.each do |type, msg|
  .container.inner-xs
    %div{class: "alert alert-#{bootstrap_class_for(type)} alert-block alert-dismissable "}
      %a.close{'data-dismiss' => 'alert', href: '#'} 
      = msg
