body {
  background-color: black;
}

.button {
  padding: 20px 30px;
  margin: 7px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  &::-moz-focus-inner {
    border: none;
  }
}

.role-selection {
  background-color: purple;
}

.question {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  color: darkslategrey;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  &.active {
    color: white;
  }
  &.visited {
    color: lightgrey;
    font-size: 15px;
  }
}

.choice {
  background-color: hotpink;
  margin-top: 6px;
  &.active {
    background-color: indianred;
  }
}

.submit-button {
  background-color: lightgreen;
}

#flash-message {
  color: lightgreen;
  margin-left: 30px;
  margin-top: 50px;
}

#json-preview {
  color: grey;
  margin-left: 30px;
  white-space: pre;
}

.nav-link {
  float: left;
}
