.container
  = render 'statements/shared/form'
  = link_to 'Delete statement', statement_path(@statement), method: 'delete', data: { confirm: 'Do you really want to delete this?' }, style: 'color: red; float: right;'