/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap3/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

body {
  color: white;
  background-color: black;
  padding: 30px;
}

* {
  font-family: arial;
  color: white;
}

a {
  color: purple;
}

.all-centered {
  background-color: black;
  text-align: center;
}

.button {
  padding: 20px 30px;
  margin: 7px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  &::-moz-focus-inner {
    border: none;
  }
}

.question {
  cursor: pointer;
  font-size: 30px;
  color: darkslategrey;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  &.active {
    color: white;
  }
  &.visited {
    color: lightgrey;
    font-size: 15px;
  }
}

.choice {
  background-color: hotpink;
  margin-top: 6px;
  &.active {
    background-color: indianred;
  }
}

.topic-selection {
  background-color: purple;
  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.submit-button {
  background-color: lightgreen;
}

.previous-button {
  background-color: hotpink;
}

.next-button {
  background-color: indianred;
}

#flash-message {
  color: lightgreen;
  margin-top: 20px;
}

#json-preview {
  color: grey;
  margin-left: 30px;
  white-space: pre;
}

.nav-link {
  float: left;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

canvas {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  height: 60vh;
}

.header {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 10px;
}

.subtitle {
  color: darkslategrey;
  margin-bottom: 20px;
}

.qr-code-test-replacement-input {
  color: black;
  visibility: hidden;
}

.countdown {
  color: darkslategrey;
  font-size: 32px;
  padding: 10px;
  float: right;
}

